<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProPriedades Computadas</title>
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/cosmo/bootstrap.min.css" rel="stylesheet" integrity="sha384-9/chHLTCcBULgxOFoUyZXSgEF0uFXs+NrQqzcy/DXqcR+Sk8C1l4EgmUXAEzTb92" crossorigin="anonymous"></head>
<body>
    
    <div class="navbar navbar-expand-lg navbar-dark bg-primary" style="margin-bottom: 50px;">
        <h1 style=" color: white;text-align: center;">Propriedes computadas</h1>
    </div>

    <div id="app">
        <div class="container">
            <div class="row">
                <div class="col-12" >
                    <div class="form-group">
                        <h2>Informe uma Frase</h2>
                        <input class="form-control form-control-sm" type="text" v-model="message">
                        
                        <h3>O seu Inverso é: </h3>
                        <p>{{ reverseMessage }}</p>
                    </div>
                </div>
            </div>
            
            <div class="form-group">
                <h2>Informe Uma senha</h2>
                <input type="password" class="form-control"  placeholder="Password" v-model="countSenha">
                <p>{{ passwordCount ? 'Senha Aceita': 'Sua senha deve conter no mínimo 8 caracteres' }}</p>
              </div>

        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script>
    new Vue({
        el:"#app",
        data:{
            message: 'olá',
            countSenha:''        
        },
        computed:{
            reverseMessage: function() {

                return this.message.split('').reverse().join('')

            },

            passwordCount: function(){
                return this.countSenha.length >= 8;
            },
            
        }
        
    })
</script>
    
</body>
</html>